<h1><h1>Dashboard</h1>
  <html>
  <head>
    <title>Mikrotik</title>
    <link href="/app/dashboard/dashboard.component.scss" rel="stylesheet" type="text/scss">
  </head>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <body>
  <div class="wrap">
    <div class="nav">
      <a class="logo" href="#"><img
        alt="Minimal Blog"
        src="https://raw.githubusercontent.com/inspirebin/simple_blog_/master/site/images/logo.png"/></a>
    </div>
    <div class="posts">
      <div class="post">
        <div class="section">
          <h1>How to get things done without depending others</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum laborum in possimus maiores nesciunt sint,
            blanditiis excepturi eius similique ab nostrum repellat illo quae iure quia! Adipisci repellendus numquam
            voluptates!</p>
          <a class="readmore" href="#">Read More</a>
        </div>
      </div>
      <div class="post">
        <div class="section">
          <h1>The best set of lorem ipsum posts ever made by admin</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum laborum in possimus maiores nesciunt sint,
            blanditiis excepturi eius similique ab nostrum repellat illo quae iure quia! Adipisci repellendus numquam
            voluptates!</p>
          <a class="readmore" href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>copyright (C) 2015 Minimal Blog Inc.</p>
    </div>
  </div>
  </body>
  </html>


